@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff) format('woff');
  font-weight: 300;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.60b215ba.woff) format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.f8e2739a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.20fc288a.woff) format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.a573679a.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.f44ae4ea.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.d70ec7ca.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format('woff2'), url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}

:root {
  background-color: #000;
  --primary-color: #000000;
  --primary-light: #FFFFFF;
  --black: #000;
  --white: #FFFFFF;

  --error-color: #FF3D3D;
  --warning-color: #FF5;
  --information-color: ##3076a6;
  --success-color: #46CE7C;
  --disabled-color: #787a7a;

  --primary-400: #146600;
  --primary-300: #006635;
  --primary-250: #006612;
  --primary-200: #3F6600;
  --primary-150: #006657;

  --primary-light-200: #d7dbdc;


  --secondary-color: #FFFFFF;

  --tertiary-color: #b429b5;
  --tertiary-light: #da31db;

  --support-900: #5B5D77;
  --support-800: #6F718D;
  --support-700: #8386A3;
  --support-600: #989BB8;
  --support-500: #AEB0CC;
  --support-400: #C4C6E0;
  --support-300: #CBCDE7;
  --support-250: #D3D5EE;
  --support-200: #DCDEF3;
  --support-150: #E6E7F8;
  --support-100: #F0F1FC;

  --neutral-900: #000;
  --neutral-800: #080808;
  --neutral-700: #0F0F0F;
  --neutral-650: #171717;
  --neutral-600: #1E1E1E;
  --neutral-500: #393939;
  --neutral-400: #555;
  --neutral-300: #707070;
  --neutral-250: #8B8B8B;
  --neutral-200: #A6A6A6;
  --neutral-150: #C2C2C2;
  --neutral-100: #DDD;
  --neutral-50: #F8F8F8;
}

* {
  box-sizing: border-box !important;
}

html,
body,
#root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box !important;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

/* Font Styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
label,
table,
span,
a {
  font-family: TwitterChirp, sans-serif;
}

p {
  color: var(--white);
}

a {
  color: var(--primary-light);
}